{{!-- Big Header as opener --}}

<div id="headerwrap">
  <div class="container">
    <br>
    <div class="row d-flex flex-column">
      <h1 class="text-left">SPOTIMATCHER</h1>
      <br>
      <h3 class="text-left">Hello, I'm Spotimatcher. Your new favorite Spotify-App.</h3>
      <br>
    </div>
  </div>

</div>


{{!-- ABOUT SECTION  --}}
<div id="dark">
  <div class="container d-flex">
    <div class="row justify-content-between">
      <h3 class="align-self-left text-center">ABOUT SPOTIMATCHER</h3>

      {{!-- Spotify text --}}
      <div class="col-lg-6 col-lg-offset-3 align-self-right">
        <p>Love music and love talking about it?</p>
        <p>Somehow there just doesn’t seem to be anyone around who shares your conviction that Wonky is the coolest
          genre ever?!</p>
        <p>Your friends are the best, but their listening preferences creep you out?</p>
        <p>Well, we think we’ve got just the thing for you. Spotimatcher is the perfect way to meet people sharing your
          taste in
          music, get inspired and make meaningful connections. <br>
          It’s fun and its easy: Just login with your Spotify account and
          match away!</p>
        <p><a href="/auth/spotify" class="btn btn-primary m-3 mx-auto">Login</a></p>
      </div>
    </div>
  </div>

</div>
{{!-- /dark --}}