<div class="index-container row w-100 mx-auto justify-content-center">
<div class="col-12 main-page-container d-flex flex-column align-self-center">
<h1 class="main-h1 text-center">
  <span class="font-weight-bold">S</span><span class="font-weight-bold">P</span><span class="font-weight-bold">O</span><span class="font-weight-bold">T</span><span class="font-weight-bold">I</span><span class="">M</span><span class="">A</span><span class="">T</span><span class="">C</span><span class="">H</span><span class="">E</span><span class="">R</span>
</h1>
<p class="sub-p text-center">Find people who love the same music as you!</p>

{{#if failureMessage}}
<p>You must login with Spotify to use this service.</p>
{{/if}}

<a href='/auth/spotify' class="btn btn-primary m-3 mx-auto">Login with Spotify</a>
</div>
</div>