<h1 class="text-center">Profile</h1>
{{!-- use user for user data --}}
{{#if successMessage}}
<p class="text-center">Success! User profile activated.</p>
{{else}}
<p class="text-center">Welcome back, {{user.name}}</p>
{{/if}}

<div class="profile_container w-25 d-flex flex-column mx-auto">
<img src="/images/profile-placeholder.png" alt="" class="profile_photo rounded-circle mx-auto">
<ul class="mx-auto">
{{!-- TODO: insert pic from user profile here --}}
<li>John Doe</li>
{{!-- TODO: user name --}}
<li>Germany 🇩🇪</li>
{{!-- TODO: user country --}}
<li>john.doe@gmail.com</li>
{{!-- TODO: user email --}}
<li>Top Ten Artists</li>
{{!-- TODO: user name --}}
<li>5 last matches:</li>
{{!-- TODO: add matches here --}}

<button class="btn btn-primary m-3">Find your matches!</button>
</div>
