<h1>Profile</h1>
{{!-- use user for user data --}}
{{#if successMessage}}
<p>Success! User profile activated.</p>
{{/if}}

<img src="" alt="">
{{!-- TODO: insert pic from user profile here --}}
<p>name</p>
{{!-- TODO: user name --}}
<p>user country</p>
{{!-- TODO: user country --}}
<p>user contact</p>
{{!-- TODO: user email --}}
<p>Top Ten Artists</p>
{{!-- TODO: user name --}}
<p>5 last matches</p>
{{!-- TODO: add matches here --}}

<a href="/results">Find your matches!</a>