<h1>Profile</h1>
{{!-- use user for user data --}}
{{#if successMessage}}
<p>Success! User profile activated.</p>
{{else}}
<p>Welcome back, {{user.name}}</p>
{{/if}}

<img src="/public/images/profile-placeholder.png" alt="" class="profile_photo">
<ul>
{{!-- TODO: insert pic from user profile here --}}
<li>John Doe</li>
{{!-- TODO: user name --}}
<li>Germany 🇩🇪</li>
{{!-- TODO: user country --}}
<li>john.doe@gmail.com</li>
{{!-- TODO: user email --}}
<li>Top Ten Artists</li>
{{!-- TODO: user name --}}
<li>5 last matches:</li>
{{!-- TODO: add matches here --}}

<a href="/results">Find your matches!</a>
