<h1>These are your matches!</h1>

{{!-- Three cards with info of the matches --}}

<div class='container'>
  <h2>Match name</h2>
  <img src="" alt="">
  <p>Score</p>
  <ul>
    <li>matched artists</li>
  </ul>
<button>Go to user's profile</button>
</div>