<h1 class="text-center">These are your matches:</h1>

{{#each matches}}
<ul>
<li>{{this._id}}</li>
</ul>
{{/each}}

{{!-- Three cards with info of the matches --}}
<div class="row w-100 mx-auto justify-content-center">
<div class='col-md-3 col-sm-7 col-10 d-flex flex-column m-3'>
  <h2 class="text-center">Match name</h2>
  <img src="/images/profile-placeholder.png" alt="match-profile-picture" class="profile-photo rounded-circle mt-3 mx-auto">
  <h3 class="text-center test">Score: 100</h3>
  <ul>
    <li>Matched artists:</li>
  </ul>
<button class="btn btn-primary m-3 mx-auto">Go to user's profile</button>
</div>
<div class='col-md-3 col-sm-7 col-10 d-flex flex-column m-3'>
  <h2 class="text-center">Match name</h2>
  <img src="/images/profile-placeholder.png" alt="match-profile-picture" class="profile-photo rounded-circle mt-3 mx-auto">
  <h3 class="text-center">Score: 99</h3>
  <ul>
    <li>matched artists</li>
  </ul>
<button class="btn btn-primary m-3 mx-auto">Go to user's profile</button>
</div>
<div class='col-md-3 col-sm-7 col-10 d-flex flex-column m-3'>
  <h2 class="text-center">Match name</h2>
  <img src="/images/profile-placeholder.png" alt="match-profile-picture" class="profile-photo rounded-circle mt-3 mx-auto">
  <h3 class="text-center">Score: 65</h3>
  <ul>
    <li>matched artists:</li>
  </ul>
<button class="btn btn-primary m-3 mx-auto">Go to user's profile</button>
</div>
</div>