<h1 class="text-center">These are your matches:</h1>

{{!-- Three cards with info of the matches --}}
<div class="results_container d-flex justify-content-center">
<div class='results_card w-25 d-flex flex-column m-3'>
  <h2 class="text-center">Match name</h2>
  <img src="/images/profile-placeholder.png" alt="match-profile-picture" class="profile-photo rounded-circle mt-3 mx-auto">
  <h3>Score: 100</h3>
  <ul>
    <li>matched artists</li>
  </ul>
<button class="btn btn-primary m-3 mx-auto">Go to user's profile</button>
</div>
<div class='results_card w-25 d-flex flex-column m-3'>
  <h2 class="text-center">Match name</h2>
  <img src="/images/profile-placeholder.png" alt="match-profile-picture" class="profile_photo rounded-circle mt-3 mx-auto">
  <h3>Score: 99</h3>
  <ul>
    <li>matched artists</li>
  </ul>
<button class="btn btn-primary m-3 mx-auto">Go to user's profile</button>
</div>
<div class='results_card w-25 d-flex flex-column m-3'>
  <h2 class="text-center">Match name</h2>
  <img src="/images/profile-placeholder.png" alt="match-profile-picture" class="profile_photo rounded-circle mt-3 mx-auto">
  <h3>Score: 65</h3>
  <ul>
    <li>matched artists:</li>
  </ul>
<button class="btn btn-primary m-3 mx-auto">Go to user's profile</button>
</div>
</div>