//SPINNER
.spinner {
  width: 40px;
  height: 40px;

  position: relative;
  margin: 100px auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
// INDEX PAGE TEXT ANIMATION
$seconds: 0.2s;

  @for $i from 1 to 13 {
  .main-h1 span:nth-child(#{$i}) {
    animation: shrinkFadeEffect 1s ease-in-out;
    animation-delay: $seconds;
    animation-fill-mode: forwards;
    $seconds: $seconds + 0.1;
  }
  }
@keyframes shrinkFadeEffect {
  0% {transform: scale(4); opacity: 0;}
  100% {transform: scale(1); opacity: 1;}
}
@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}