.index-container {
  height: 90%;
}
.main-h1 span {
  display: inline-block;
  font-size: 58px;
  transform: scale(4);
  opacity: 0;
}
.sub-p {
  animation: fadeIn 1s ease-in-out;
  animation-delay: 1.9s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@media only screen and (max-width: 480px) {
  .main-h1 span {
    font-size: 43px;
  }
}
@media only screen and (max-width: 358px) {
  .main-h1 span {
    font-size: 38px;
  }
}

//nav links
li a {
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
  color: white;
}

//
