.top-artists {
  animation: fadeIn 1.5s;
  animation-fill-mode: forwards;
  animation-delay: .3s;
  opacity: 0;
}
.profile-page {
  animation: fadeIn 1.5s;
  animation-fill-mode: forwards;
  animation-delay: .6s;
  opacity: 0;
}
.top-genres {
  animation: fadeIn 1.5s;
  animation-fill-mode: forwards;
  animation-delay: .9s;
  opacity: 0;
}
.profile-photo {
  background: url('../images/profile-placeholder.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-height: 200px;
  max-width: 200px;
}
.username-h2 {
  content: "Unknown user";
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    font-size: 20px;
  }
}
.top-p {
  font-size: 28px;
}
.modal {
  display: none;
  opacity: 0;
  z-index: -1;
}
@media only screen and (max-width: 768px) {
  .profile-page {
    order: -1;
  }
}