$primary: #1db954;

@import "node_modules/bootstrap/scss/bootstrap.scss";
@import "index";
@import "profile";
@import "animations";
@import "results";

html {
  height: 100%;
}
body {
  background: #535353;
  color: #fff;
  font: 14px "Quicksand", "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100%;
}
a {
  color: #fff
}
a:hover {
  color: #fff;
  text-decoration: underline;
}
.btn {
  border: none;

  &:hover {
    background: #535353;
    color: #1db954;
  }
}
//card Background with transparency and rounded border
.card {
  background-color: rgba(185, 185, 185, 0.4);
  border-radius: 30px;
}
