$primary: #1db954;

@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'index';
@import 'profile';
@import 'animations';
html {
  height: 100%;
}
body {
  background: #535353;
  color: #fff;
  font: 14px 'Quicksand',"Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100%;
}
a {
  color: #00B7FF;
}
.btn {
  border: none;

  &:hover {
    background: #fff;
    color: #1db954;
  }
}